.SubjectDashboardWrapper {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    height: 89.9vh;

    .SubjectPageFull {
        width: 100%;
        background-color: #e8e8fc;
        transition: all 0.3s ease-in-out;
        overflow: scroll;
        overflow-x: hidden;
        padding: 20px;
        border-radius: 20px 20px 0px 0px;

        &::-webkit-scrollbar {
            width: 10px;
            background-color: var(--iconColor);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--iconColor);
            width: 10px;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
            background-color: white;
        }
    }

    .SubjectPageSmall {
        width: calc(100% - 250px);
        background-color: #e8e8fc;
        padding: 20px;
        border-radius: 20px 20px 0px 0px;
        overflow: scroll;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--iconColor);
            width: 10px;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
            background-color: white;
        }
    }

    .SubjectPageContainer {
        display: flex;
        flex-direction: column;

        .SubjectPageTopPart {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: rgb(193, 197, 230);
            border-radius: 5px;
            flex-wrap: wrap;
            gap: 10px;
            font-family: "Open Sans", sans-serif;

            .leftSide,
            .rightSide {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                /* align-items: center; */
                font-size: 14px;
                // background-color: rgb(83, 42, 42);
                height: 115px;
                h1 {
                    font-size: 19px;
                    font-weight: bolder;
                    font-family: "Open Sans", sans-serif;
                }

                input,
                select {
                    height: 35px;
                    border: none;
                    outline: 1px solid skyblue;
                    padding-left: 4px;
                    width: 250px;
                    border-radius: 3px;
                }
                button {
                    border-radius: 3px;
                    border: none;
                    margin-top: 5px;
                    font-size: 15px;
                    font-family: "Open Sans", sans-serif;
                    background-color: #701ccf;
                }
            }
        }

        .wrapMidPar {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .SubjectPageMidPart {
            width: 100%;
            max-width: 1000px;
            height: 100%;
            margin-top: 20px;

            .searchField {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px;

                .searchAlign {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;

                    input {
                        width: 230px;
                        margin-right: 2px;
                        font-family: "Open Sans", sans-serif;
                    }

                    .formButtons {
                        button {
                            font-family: "Open Sans", sans-serif;
                            margin-left: 5px;
                        }
                    }
                }

                .sortingsys {
                    select {
                        height: 40px;
                        width: 200px;
                    }
                }
            }

            .table {
                height: 100%;
                margin-top: 20px;
                overflow: scroll;
                &::-webkit-scrollbar {
                    width: 1px;
                    height: 8px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: var(--iconColor);
                    width: 10px;
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-track {
                    background-color: white;
                }

                table {
                    // height: 100%;

                    thead {
                        tr {
                            th {
                                font-family: "Nunito", sans-serif;

                                &:nth-child(even) {
                                    background-color: #ababab;
                                    color: white;
                                }

                                &:nth-child(odd) {
                                    background-color: rgb(171 171 171);
                                    color: white;
                                }
                            }
                        }
                    }

                    tbody {
                        tr {
                            .imageShape {
                                border-radius: 4px;
                                height: 100px;
                                width: 100px;
                                img {
                                    border: 4px solid #b892ff;
                                    width: 80px;
                                    height: 80px;
                                    object-fit: cover;
                                    border-radius: 5px;
                                }
                            }

                            td {
                                .actionsALign {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                    width: 100%;
                                    height: 100%;
                                }
                                .edit {
                                    padding: 5px;
                                    height: 40px;
                                    width: 40px;
                                    border-radius: 4px;
                                    background-color: rgb(45, 156, 5);
                                    color: white;
                                    cursor: pointer;
                                }

                                .delete {
                                    padding: 5px;
                                    height: 40px;
                                    width: 40px;
                                    border-radius: 4px;
                                    background-color: rgb(243, 0, 0);
                                    color: white;
                                    cursor: pointer;
                                    margin-left: 5px;
                                }

                                font-family: "Poppins", sans-serif;

                                &:nth-child(even) {
                                    background-color: #dbdbff;
                                    color: rgb(0, 0, 0);
                                }

                                &:nth-child(odd) {
                                    background-color: rgb(208 225 255);
                                    color: rgb(0, 0, 0);
                                }
                                &:last-child {
                                    background-color: transparent;
                                    color: rgb(0, 0, 0);
                                }
                            }
                        }
                    }
                }
            }

            .paginationBtns {
                // background-color: rgb(43, 117, 255);
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;

                button {
                    border: none;
                    outline: none;
                    background-color: rgb(43, 117, 255);
                    color: white;
                    height: 40px;
                    width: 40px;
                    border-radius: 5px;
                }

                span {
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }
}

// component two basically form
.AddClassFormTitle {
    font-size: 24px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;

    span {
        font-weight: 400;
        font-size: 16px;
    }
}

.AddClassForm {
    padding: 1px 10px;

    label {
        font-size: 18px;
        font-weight: bold;
        font-family: "Open Sans", sans-serif;
    }
}

// MyupdatecenterModelstyle
.AuthenticateUserForm {
    position: fixed;
    top: 0%;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 150, 150);
    z-index: 100;

    .AuthenticationForm {
        position: absolute;
        max-width: 95%;
        width: 800px;
        height: 320px;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: flex-start;
        border-radius: 7px;
        background-color: white;
        z-index: 101;

        .Title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 90px;
            width: 100%;
            padding: 0px 10px;
            border-bottom: 1px solid rgba(8, 8, 8, 0.1);

            h2 {
                font-size: 24px;
                font-weight: bold;
                font-family: "Nunito", sans-serif;
                margin-top: 5px;

                span {
                    font-weight: 400;
                    font-size: 16px;
                }
            }

            .formClose {
                height: 35px;
                width: 35px;
                cursor: pointer;
            }
        }

        .Form {
            height: 300px;
            width: 100%;
            border-bottom: 1px solid rgba(8, 8, 8, 0.1);

            .AuthUserFields {
                padding: 1px 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                height: 100%;
                width: 100%;

                .inputLayer {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 100%;

                    label {
                        font-size: 18px;
                        font-weight: bold;
                        font-family: "Open Sans", sans-serif;
                    }

                    input {
                        height: 40px;
                        padding-left: 6px;
                        border-radius: 6px;
                        border: none;
                        outline: 1px solid rgba(8, 8, 8, 0.1);
                        width: 100%;
                        margin-top: 5px;

                        &:focus {
                            outline: 3px solid skyblue;
                        }
                    }
                    select {
                        height: 40px;
                        padding-left: 6px;
                        border-radius: 6px;
                        border: none;
                        outline: 1px solid rgba(8, 8, 8, 0.1);
                        width: 100%;
                        margin-top: 5px;

                        &:focus {
                            outline: 3px solid skyblue;
                        }
                    }
                }
            }
        }

        .formCloseBtn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            height: 70px;
            padding-right: 10px;

            button {
                cursor: pointer;
            }
        }
    }
}

// Attendence Download pdf file design page
/* GS10form design here */
.AttendenceSheetPdfContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 110;
    overflow: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 1px;
        height: 1px;
        background-color: var(--iconColor);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--iconColor);
        width: 10px;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: white;
    }

    .downloadButton {
        position: fixed;
        bottom: 3%;
        right: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 45px;
            width: 45px;
            border: none;
            outline: none;
            padding: 5px;
            border-radius: 5px;
            background-color: #006aff;
            cursor: pointer;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            text-align: center;
            font-family: "Nunito", sans-serif;
            color: white;

            .downloadButtonIcon {
                height: 32px;
                width: 32px;
            }
        }
    }
    .goBackButton {
        position: fixed;
        left: 3%;
        top: 4%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .cancleButton {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border: none;
            outline: none;
            padding: 8px;
            border-radius: 5px;
            font-size: 16px;
            background-color: #0077FF;
            cursor: pointer;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            text-align: center;
            font-family: 'Nunito', sans-serif;
            color: white;
            height: 40px;
            width: 40px;
        }
    }
    
 
    

    .AtendencePdfFile {
        width: 800px;
        height:100%;
        background-color: #f7f7f7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // padding: 10px;
        // max-width: 80%;
        // max-height: 98%;
        overflow: scroll;

        &::-webkit-scrollbar {
            width: 1px;
            height: 1px;
            background-color: var(--iconColor);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--iconColor);
            width: 10px;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
            background-color: white;
        }

        .PdfFileFormat {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 10px;
            // background-color: red;

            .topPortion {
                display: flex;
                flex-direction: column;
                height: 300px;
                width: 100%;

                .topPartOne {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .info {
                        display: flex;
                        flex-direction: column;
                        b {
                            font-family: "Poppins", sans-serif;
                            font-size: 18px;
                            font-weight: bold;
                        }
                        p {
                         font-family: 'Poppins', sans-serif;
                            font-weight: 300;
                            font-size: 14px;
                        }
                    }
                    .date {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        width: 150px;
                        b {
                            font-family: "Poppins", sans-serif;
                            font-size: 18px;
                            font-weight: bold;
                        }

                        p {
                         font-family: 'Poppins', sans-serif;
                            font-weight: 300;
                            font-size: 14px;
                            margin: 0;
                        }
                    }
                }

                .topPartTwo {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .profile {
                        height: 100px;
                        width: 100px;
                        border: 4px solid #0077ff;
                        border-radius: 50%;

                        img {
                            height: 100%;
                            width: 100%;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                    .title {
                        font-family: "Nunito", sans-serif;
                        font-size: 26px;
                        font-weight: bold;
                        text-align: center;
                    }
                    .address {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        b {
                            font-family: "Poppins", sans-serif;
                            font-size: 18px;
                        }

                        p {
                         font-family: 'Poppins', sans-serif;
                            font-weight: 500;
                            font-size: 14px;
                            margin: 0;
                            padding: 0;
                            color:rgba(0, 0, 0,.3) ;
                        }
                    }
                }
            }
            .MidPortion {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                height: 150px;
                width: 100%;
                margin-top: 35px;

                b {
                    font-family: "Nunito", sans-serif;
                    font-weight: 500;
                    font-size: 20px;
                    margin-bottom: 5px;
                    border-bottom: 1px solid rgb(0 0 0 / 22%);
                    text-transform: CAPITALIZE;
                    font-weight: bold;
                }
                .AttendenceTable{
                    height: 100%;
                    width: 100%;
                    table{
                        width: 100%;
                        height: 100%;
                        thead{
                            height: 35px;
                            background-color: #3e3e3e;
                            color: white;
                            tr{
                                text-align: start;
                                height: 100%;
                                th{
                                    font-family: "Nunito", sans-serif;
                                    font-weight: bold;
                                    padding-left: 5px;
                                    font-size: 18px;
                                }
                            }
                        }
                        tbody{
                            height: 100%;
                            background-color: rgb(216, 216, 216);
                            tr{
                                height: 15px;
                                text-align: start;
                                background-color: whitesmoke;
                                border-bottom: 1px solid rgb(42 42 42 / 15%);
                                td{
                                    height: 15px;
                                    font-family: 'Roboto', sans-serif;
                                    font-size: 16px;
                                    padding-left: 5px;
                                    b{
                                        border-bottom: none
                                    }
                                };
                            }
                        }
                    }
                }
            }

            .BottomPortion{
                display: flex;
                flex-direction: column;
                margin-top: 50px;
                // background-color: yellow;

                .Precautions{
                    font-family: 'Nunito', sans-serif;
                    font-size: 18px;
                    font-weight: bold;
                    margin-top: 10px;
                }

                .signature{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-end;
                    width: 100%;
                    margin-top: 20px;
                    h2{
                        margin: 0;
                        border-bottom: 2px solid rgba(0, 0, 0,.3);
                        font-family: 'Sacramento', cursive;
                        font-weight: bold;
                        font-size: 26px;
                    }
                    b{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .SubjectDashboardWrapper {
        .SubjectPageFull {
            width: 100%;
        }

        .SubjectPageSmall {
            width: 100%;
        }

        .SubjectPageContainer {
            .SubjectPageMidPart {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .searchField {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                }

                .table {
                    width: 650px;
                    overflow: scroll;
                    overflow-y: hidden;

                    &::-webkit-scrollbar {
                        width: 10px;
                        height: 10px;
                        background-color: var(--iconColor);
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: var(--iconColor);
                        width: 10px;
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar-track {
                        background-color: white;
                    }

                    table {
                        width: 660px;
                    }
                }
            }
        }
    }

    // component two basically form
    .AddSubjectFormTitle {
        font-size: 20px;
        font-weight: bold;
        font-family: "Nunito", sans-serif;

        span {
            font-weight: 400;
            font-size: 16px;
        }
    }
}

@media (max-width: 700px) {
    .SubjectDashboardWrapper {
        .SubjectPageContainer {
            .SubjectPageMidPart {
                .searchField {
                    gap: 2px;

                    .searchAlign {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 2px;

                        input {
                            margin-left: 5px;
                        }
                    }

                    .sortingsys {
                        select {
                            margin-left: 5px;
                        }
                    }
                }

                .table {
                    width: 550px;
                    max-width: 90%;
                    overflow: scroll;
                    overflow-y: hidden;

                    &::-webkit-scrollbar {
                        width: 10px;
                        height: 10px;
                        background-color: var(--iconColor);
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: var(--iconColor);
                        width: 10px;
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar-track {
                        background-color: white;
                    }

                    table {
                        width: 660px;
                    }
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .SubjectDashboardWrapper {
        .SubjectPageContainer {
            .SubjectPageMidPart {
                .searchField {
                    .searchAlign {
                        input {
                            width: 220px;
                        }
                    }

                    .sortingsys {
                        select {
                            width: 220px;
                        }
                    }
                }

                .table {
                    width: 270px;

                    table {
                        width: 350px;
                    }
                }
            }
        }
    }

    .MyUpdateCenterModel {
        .updateForm {
            .Title {
                h2 {
                    font-size: 22px;
                    margin-top: 7px;

                    span {
                        font-size: 14px;
                    }
                }
            }

            .Form {
                .AddSubjectForm {
                    .inputLayer {
                        label {
                            font-size: 18px;
                            font-weight: bold;
                            font-family: "Open Sans", sans-serif;
                        }
                    }
                }
            }
        }
    }
}
