.LeaveDashboardWrapper {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    height: 89.9vh;

    .LeavePageFull {
        width: 100%;
        background-color: #e8e8fc;
        transition: all 0.3s ease-in-out;
        overflow: scroll;
        overflow-x: hidden;
        padding: 20px;
        border-radius: 20px 20px 0px 0px;

        &::-webkit-scrollbar {
            width: 10px;
            background-color: var(--iconColor);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--iconColor);
            width: 10px;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
            background-color: white;
        }
    }

    .LeavePageSmall {
        width: calc(100% - 250px);
        background-color: #e8e8fc;
        padding: 20px;
        border-radius: 20px 20px 0px 0px;
        overflow: scroll;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--iconColor);
            width: 10px;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
            background-color: white;
        }
    }

    .LeavePageContainer {
        display: flex;
        flex-direction: column;

        .LeavePageTopPart {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;

            button {
                font-size: 18px;

                .btnViewIcon {
                    height: 20px;
                    width: 20px;
                }
            }
        }

        .wrapMidPar {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .LeavePageMidPart {
            width: 100%;
            max-width: 1100px;
            height: 100%;
            margin-top: 20px;



            .table {
                height: 100%;
                margin-top: 20px;
                overflow: scroll;
                padding: 15px;
                background-color: white;

                &::-webkit-scrollbar {
                    width: 1px;
                    height: 5px;
                }
        
                &::-webkit-scrollbar-thumb {
                    background-color: var(--iconColor);
                    width: 10px;
                    border-radius: 10px;
                }
        
                &::-webkit-scrollbar-track {
                    background-color: white;
                }
                tbody{
                    tr{
                        td{
                            font-family: 'Poppins', sans-serif;
                            text-align: left;
                            .Approved{
                                background-color: #61d544;
                                color: white;
                                padding: 5px;
                                border-radius: 5px;
                            }
                            .Pending{
                                background-color: rgb(255 185 112);
                                color: white;
                                padding: 5px;
                                border-radius: 5px;
                            }
                            .Rejected{
                                background-color: rgb(237 92 99);
                                color: white;
                                padding: 5px;
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// component two basically form
.AddLeaveFormTitle {
    font-size: 24px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;

    span {
        font-weight: 400;
        font-size: 16px;
    }
}

.AddLeaveForm {
    padding: 1px 10px;

    label {
        font-size: 18px;
        font-weight: bold;
        font-family: "Open Sans", sans-serif;
    }

    .LeaveFormAlign {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        b {
            font-size: 18px;
            font-weight: bold;
            font-family: "Open Sans", sans-serif;
        }

        .LeaveFormAlignItems {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            flex-wrap: wrap;
            border-bottom: 1px solid rgba(36, 36, 36, 0.1);
            margin-bottom: 10px;

            .LeaveformAlignitem {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                label {
                    font-size: 17px;
                    margin-top: 5px;
                }

                input {
                    width: 25px;
                    height: 24px;
                    border-radius: 50%;
                    margin-left: 15px;
                    cursor: pointer;
                }
            }
        }
    }
}

// MyupdatecenterModelstyle
.MyUpdateCenterModel {
    position: fixed;
    top: 0%;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(139, 139, 139);
    z-index: 100;
    overflow: scroll;
    overflow-x: hidden;

    .fullupdateform {
        max-height: 95%;
        // height: 100%;
        max-width: 95%;
        width: 800px;
        overflow: scroll;
        overflow-x: hidden;
        .updateForm {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            border-radius: 7px;
            background-color: rgb(255, 255, 255);
            z-index: 101;

            .Title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 70px;
                width: 100%;
                padding: 0px 10px;
                border-bottom: 1px solid rgba(8, 8, 8, 0.1);

                h2 {
                    font-size: 24px;
                    font-weight: bold;
                    font-family: "Nunito", sans-serif;
                    margin-top: 5px;

                    span {
                        font-weight: 400;
                        font-size: 16px;
                    }
                }

                .formClose {
                    height: 35px;
                    width: 35px;
                    cursor: pointer;
                }
            }

            .Form {
                width: 100%;
                border-bottom: 1px solid rgba(8, 8, 8, 0.1);
                // background-color: #75b5fe;

                .AddLeaveForm {
                    padding: 1px 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    height: 100%;
                    width: 100%;
                    // background-color: red;

                    .inputLayer {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        width: 100%;

                        h3{

                        }
                        .details{
                            background-color: #edf5ff;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            width: 100%;
                            padding: 15px;
                            border-radius: 4px;

                            .infoSection{
                                overflow: scroll;
                                width: 100%;
                                &::-webkit-scrollbar {
                                    width: 1px;
                                    height: 5px;
                                    background-color: var(--iconColor);
                                }
            
                                &::-webkit-scrollbar-thumb {
                                    background-color: var(--iconColor);
                                    width: 10px;
                                    border-radius: 10px;
                                }
            
                                &::-webkit-scrollbar-track {
                                    background-color: white;
                                }
                                p{
                                    font-family: "Poppins", sans-serif;
                                    margin: 0;
                                    font-size: 15px;
                                    padding: 0;
                                    b{
                                        font-family: 'Roboto', sans-serif;
                                        font-size: 18px;
                                    }
                                   
                                }
                                span{
                                    b{
                                        font-family: 'Roboto', sans-serif;
                                        font-size: 18px;
                                    }
                                    .h2{
                                        font-family: "Nunito", sans-serif;
                                        font-weight: bold;
                                        font-size: 20px;
                                        margin-left: 10px;
                                        text-transform: capitalize;
                                        font-style: underline;
                                        text-decoration: underline;
                                    }

                                  
                                }
                            }
                            .buttons{
                                button{
                                    &:last-child{
                                        margin-left: 10px;
                                    }
                                }
                            }
                        }

                    }

                    .LeaveFormAlign {
                        margin-top: 15px;
                    }
                }
            }

            .formCloseBtn {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                width: 100%;
                height: 70px;
                padding-right: 10px;

                button {
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .LeaveDashboardWrapper {
        .LeavePageFull {
            width: 100%;
        }
        .LeavePageSmall {
            width: 100%;
        }
            

        .LeavePageContainer {
            .LeavePageMidPart {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .table {
                    width: 650px;
                    overflow: scroll;
                    padding: 15px;
                    background-color: white;
                    border-radius: 4px;

                    &::-webkit-scrollbar {
                        width: 10px;
                        height: 10px;
                        background-color: var(--iconColor);
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: var(--iconColor);
                        width: 10px;
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar-track {
                        background-color: white;
                    }
                }
            }
        }
    }

    // component two basically form
    .AddLeaveFormTitle {
        font-size: 20px;
        font-weight: bold;
        font-family: "Nunito", sans-serif;

        span {
            font-weight: 400;
            font-size: 16px;
        }
    }

    .AddLeaveForm {
        .LeaveFormAlign {
            .LeaveFormAlignItems {
                .LeaveformAlignitem {
                    label {
                        font-size: 15px;
                        margin-top: 5px;
                        font-family: "Nunito", sans-serif;
                    }

                    input {
                        width: 25px;
                        height: 24px;
                        border-radius: 50%;
                        margin-left: 15px;
                        cursor: pointer;
                    }
                    .activeGenderRadio {
                        background-color: #75b5fe;
                    }
                    .activeParentRadio {
                        background-color: #75b5fe;
                    }
                    .activeFeeRadio {
                        background-color: #75b5fe;
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .LeaveDashboardWrapper {
        .LeavePageContainer {
            .LeavePageMidPart {
                .searchField {
                    gap: 2px;

                    .searchAlign {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 2px;

                        input {
                            margin-left: 5px;
                        }
                    }

                    .sortingsys {
                        select {
                            margin-left: 5px;
                        }
                    }
                }

                .table {
                    width: 550px;
                    max-width: 90%;
                    overflow: scroll;
                    overflow-y: hidden;

                    &::-webkit-scrollbar {
                        width: 10px;
                        height: 10px;
                        background-color: var(--iconColor);
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: var(--iconColor);
                        width: 10px;
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar-track {
                        background-color: white;
                    }

                    table {
                        width: 660px;
                    }
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .LeaveDashboardWrapper {
        .LeavePageContainer {
            .LeavePageMidPart {
                .searchField {
                    .searchAlign {
                        input {
                            width: 220px;
                        }
                    }

                    .sortingsys {
                        select {
                            width: 220px;
                        }
                    }
                }

                .table {
                    width: 270px;

                    table {
                        width: 350px;
                    }
                }
            }
        }
    }

    .MyUpdateCenterModel {
        .updateForm {
            .Title {
                h2 {
                    font-size: 22px;
                    margin-top: 7px;

                    span {
                        font-size: 14px;
                    }
                }
            }

            .Form {
                .AddLeaveForm {
                    .inputLayer {
                        label {
                            font-size: 18px;
                            font-weight: bold;
                            font-family: "Open Sans", sans-serif;
                        }
                    }
                }
            }
        }
    }
}
